<h2 mat-dialog-title>Editar curso</h2>
<mat-dialog-content>
  <form [formGroup]="formEditar" (submit)="onSubmit()" >

    <mat-form-field class="formRegistroRow">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="nombre" placeholder="Nombre"/>
      <mat-error *ngIf="formEditar.controls['nombre']?.errors?.['required']" > Este campo es requerido </mat-error>
      <mat-error *ngIf="formEditar.controls['nombre']?.errors?.['minlength']" > Este campo debe tener minino 3 caracteres </mat-error>
      <mat-error *ngIf="formEditar.controls['nombre']?.errors?.['maxlength']" > Este campo debe tener maximo 10 caracteres </mat-error>
    </mat-form-field>

    <mat-form-field class="formRegistroRow">
      <mat-label>Descripcion</mat-label>
      <input matInput formControlName="descripcion" placeholder="Descripcion"/>
      <mat-error *ngIf="formEditar.controls['descripcion']?.errors?.['required']" > Este campo es requerido </mat-error>
      <mat-error *ngIf="formEditar.controls['descripcion']?.errors?.['maxlength']" > Este campo debe tener maximo 100 caracteres </mat-error>
    </mat-form-field>

    <mat-form-field class="formRegistroRow">
      <mat-label>Cupo</mat-label>
      <input type="number" matInput formControlName="cupo" placeholder="Cupo"/>
      <mat-error *ngIf="formEditar.controls['cupo']?.errors?.['required']" > Este campo es requerido </mat-error>
    </mat-form-field>

    <mat-form-field class="formRegistroRow">
      <mat-label>Horario</mat-label>
      <input matInput formControlName="horario" placeholder="Horario"/>
      <mat-error *ngIf="formEditar.controls['horario']?.errors?.['required']" > Este campo es requerido </mat-error>
    </mat-form-field>

    <mat-form-field class="formRegistroRow">
      <mat-label>Profesor</mat-label>
      <input matInput formControlName="profesor" placeholder="Profesor"/>
      <mat-error *ngIf="formEditar.controls['profesor']?.errors?.['required']" > Este campo es requerido </mat-error>
      <mat-error *ngIf="formEditar.controls['profesor']?.errors?.['minlength']" > Este campo debe tener minimo 3 caracteres </mat-error>
      <mat-error *ngIf="formEditar.controls['profesor']?.errors?.['maxlength']" > Este campo debe tener maximo 20 caracteres </mat-error>
    </mat-form-field>

    <mat-dialog-actions>
      <button mat-raised-button mat-dialog-close>Close</button>
      <button  mat-raised-button type="submit" color="primary"> Enviar </button>
    </mat-dialog-actions>

  </form>
</mat-dialog-content>

