<h2 mat-dialog-title >Detalle del estudiante {{estudiante?.estudiante_nombres}} </h2>
<mat-dialog-content>
  <h3>ID</h3>
  <p>{{estudiante?.estudiante_id}}</p>

  <h3>Identificacion</h3>
  <p>{{estudiante?.estudiante_numeroIdentificacion}}</p>

  <h3>Nombres</h3>
  <p>{{estudiante?.estudiante_nombres}}</p>

  <h3>Apellidos</h3>
  <p>{{estudiante?.estudiante_apellidos}}</p>

  <h3>Correo</h3>
  <p>{{estudiante?.estudiante_correo}}</p>

  <h3>Estado</h3>
  <p>{{estudiante?.estudiante_estado}}</p>

  <h3>Celular</h3>
  <p>{{estudiante?.estudiante_celular}}</p>

  <h3>Github</h3>
  <p>{{estudiante?.estudiante_github}}</p>

  <h3>Linkedin</h3>
  <p>{{estudiante?.estudiante_linkedin}}</p>

  <h3>Fecha de creacion</h3>
  <p>{{estudiante?.estudiante_fechaCreacion}}</p>

</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button mat-dialog-close>Close</button>
</mat-dialog-actions>
